<h1>Search Flights</h1>

<%# This form is to search flights already created. Must search the url path, not the model, and method must be "get" as we are not inputting new data, only retrieving %>

<%= form_with url: root_path, method: "get" do |form| %>
	<%# Must use .map instead of .each when trying to manipulate each data point. Each would only be used to iterate through different points and show them %>
	<%= form.label :departure_airport_id %>
	<%= form.select :departure_airport_id,
        @flights.map { |flight| [flight.departure_airport.airport_code] } %>
	<br>
	<br>

	<%= form.label :arrival_airport_id %>
	<%= form.select :arrival_airport_id,
        @flights.map { |flight| [flight.arrival_airport.airport_code] } %>
	<br>
	<br>

	<%= form.label :number_of_passengers, "Number of tickets" %>
	<%= form.select :number_of_passengers, options_for_select((1..4), 1) %>
	<br>
	<br>

	<%# see flights_helper.rb for formatted date info, :start_date_formatted %>
	<%= form.label :start_datetime, "Departure Date" %>
	<%= form.select :start_datetime,
        options_from_collection_for_select(
          @flights,
          :start_datetime,
          method(:start_date_formatted)) %>
	<br>
	<br>
	<%= form.submit "Search" %>
<% end %>

<% if params[:commit] == 'Search' %>
	<ul>
		<li>Departing From: <%= @departure_param %></li>
		<li>Arriving in: <%= @arrival_param %></li>
		<li>Number of seats selected: <%= @number_of_passengers_param %></li>
		<li>Date of departure: <%= @departure_date_param %></li>
	</ul>
<% end %>

<h3>All flights</h3>

<% @flights.each do |flight| %>
	<ul>
		<li><%= flight.departure_airport.airport_code %></li>
		<li><%= flight.arrival_airport.airport_code %></li>
	</ul>
<% end %>
